{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'user/css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top"
        >
          <div class="container-fluid">
            <div class="navbar-nav">
              <a class="nav-link" href="#!">GANESH</a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#!">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!">Signup</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="d-flex" id="wrapper">
          <!-- Page content-->
          <div class="container m-5">
            <div class="d-grid gap-3">
              <div
                class="d-flex w-100 justify-content-between m-2 p-3 border"
                style="border-radius: 15px"
              >
                <div class="d-inline-flex align-items-center">
                  <img src="./cutlery.png" style="height: 25px; width: 25px" />
                  <div class="p-2">
                    <h6 class="font-weight-bold m-0">Restaurant & Cafe</h6>
                    <small class="text-muted">25 Aug 2022</small>
                  </div>
                </div>
                <div class="d-inline-flex align-items-center">
                  <div class="px-5">
                    <h6 class="font-weight-bold m-0">$99.00</h6>
                  </div>
                  <img src="./cutlery.png" style="height: 25px; width: 25px" />
                  <img
                    src="./cutlery.png"
                    style="height: 25px; width: 25px"
                    class="mx-2"
                  />
                </div>
              </div>
              <div
                class="d-flex w-100 justify-content-between m-2 p-3 border"
                style="border-radius: 15px"
              >
                <div class="d-inline-flex align-items-center">
                  <img src="./cutlery.png" style="height: 25px; width: 25px" />
                  <div class="p-2">
                    <h6 class="font-weight-bold m-0">Restaurant & Cafe</h6>
                    <small class="text-muted">25 Aug 2022</small>
                  </div>
                </div>
                <div class="d-inline-flex align-items-center">
                  <div class="px-5">
                    <h6 class="font-weight-bold m-0">$99.00</h6>
                  </div>
                  <img src="./cutlery.png" style="height: 25px; width: 25px" />
                  <img
                    src="./cutlery.png"
                    style="height: 25px; width: 25px"
                    class="mx-2"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar-->
          <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Wallete</div>
            <div class="list-group list-group-flush p-2 bg-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, ad
              pariatur sit eius quas provident odio suscipit temporibus
              voluptate rem neque soluta architecto sunt delectus debitis, error
              sed. Id, ipsa?
            </div>
            <div class="sidebar-heading border-bottom bg-light">Categories</div>
            <div class="list-group list-group-flush p-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              cumque consectetur perspiciatis odio, omnis provident blanditiis!
              A repudiandae blanditiis deleniti officia rerum repellendus illum,
              aut sint saepe sunt suscipit incidunt.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
